.jsc images-block.JscImages_mini_mimetypes_base,
.jsc .JscImages_mini_mimetypes_base images-block {
  --jsc--images-mini--mimetypes--base--gap: 0.9rem;
  --jsc--images-mini--mimetypes--base--size: 4rem;
  --jsc--images-mini--mimetypes--base--width: var(--jsc--images-mini--mimetypes--base--size);
  --jsc--images-mini--mimetypes--base--height: var(--jsc--images-mini--mimetypes--base--size);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--jsc--images-mini--mimetypes--base--gap);
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.jsc .JscImages_mini_mimetypes_base .mini-image.mimetype {
  width: var(--jsc--images-mini--mimetypes--base--width);
  height: var(--jsc--images-mini--mimetypes--base--height);
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
  background-position: cover;
  background-size: var(--jsc--images-mini--mimetypes--base--width) var(--jsc--images-mini--mimetypes--base--height);
}

.jsc .JscImages_mini_mimetypes_base .mini-image.mimetype {
  background-image: url("@JscImages_mini_mimetypes_base_MediaAndStyles/images/mime_type_base.png");
}

.jsc .JscImages_mini_mimetypes_base .mini-image.mimetype.base {
  background-image: url("@JscImages_mini_mimetypes_base_MediaAndStyles/images/mime_type_base.png");
}

.jsc .JscImages_mini_mimetypes_base .mini-image.mimetype.folder {
  background-image: url("@JscImages_mini_mimetypes_base_MediaAndStyles/images/Folder.png");
}

.jsc .JscImages_mini_mimetypes_base .mini-image.mimetype.audio {
  background-image: url("@JscImages_mini_mimetypes_base_MediaAndStyles/images/audio_and_video_mime_type.png");
}

.jsc .JscImages_mini_mimetypes_base .mini-image.mimetype.video {
  background-image: url("@JscImages_mini_mimetypes_base_MediaAndStyles/images/audio_and_video_mime_type.png");
}

.jsc .JscImages_mini_mimetypes_base .mini-image.mimetype.html {
  background-image: url("@JscImages_mini_mimetypes_base_MediaAndStyles/images/html_mime_type.png");
}

.jsc .JscImages_mini_mimetypes_base .mini-image.mimetype.image {
  background-image: url("@JscImages_mini_mimetypes_base_MediaAndStyles/images/image_mime_type.png");
}

.jsc .JscImages_mini_mimetypes_base .mini-image.mimetype.javascript {
  background-image: url("@JscImages_mini_mimetypes_base_MediaAndStyles/images/javascript_mime_type.png");
}

.jsc .JscImages_mini_mimetypes_base .mini-image.mimetype.text {
  background-image: url("@JscImages_mini_mimetypes_base_MediaAndStyles/images/text_mime_type.png");
}

.jsc .JscImages_mini_mimetypes_base .mini-image.mimetype.php {
  background-image: url("@JscImages_mini_mimetypes_base_MediaAndStyles/images/php_mime_type.png");
}
