
/.env
/.idea
/.vscode
/**/node_modules
/.github

/**/.DS_Store

/temp/
/tmp.html
/examples_html/emails/temp/
/packages/CharcodeConverter/tmp_data/
/workspace/ts/Jaisocx_SitesTools/index.preview.html


