
  /* Font Families */
  /* Theme Fonts Old Good Fonts */
  /* microsoft fonts: The browser shows texts the right way on all computers with all other OS, like: ios, linux, android */
.clean_start {
                                         /* microsoft, ios, linux, android */
  --clean_start--handwrite--font-family: "<microsoft>",   "Bradley Hand",   "Z003",   "cursive";
  --clean_start--sans--font-family:      "Arial";
  --clean_start--serif--font-family:     "Times New Roman";
  --clean_start--monospace--font-family: "Courier";
}


.clean_start {

  --clean_start--rem: 16px;

  --clean_start--all_tags--font-family: var(--clean_start--sans--font-family);
  --clean_start--all_tags--font-size: 0.95rem;
  --clean_start--all_tags--line-height: 1.29rem;
  --clean_start--all_tags--color: black;
  --clean_start--all_tags--border-width: 0px;

  --clean_start--anchor--color: navy;
  --clean_start--anchor_hover--color: blue;

  --clean_start--h1--font-size: 2rem;
  --clean_start--h1--line-height: 2.63rem;

  --clean_start--h--font-size: 1rem;
  --clean_start--h--line-height: 1.4rem;
  --clean_start--h--margin: 1.4rem 0 0.4rem 0;
  --clean_start--h--color: black;

  --clean_start--p--margin: 1.4rem 0 0 0;

  --clean_start--ul--margin: 0.3rem 0 0.4rem 1rem;
  --clean_start--ul_li_a--padding: 0 0 0 1rem;
  --clean_start--ul_li_a--list_style--content: '🟠';
  --clean_start--ul_li_a--list_style--left: 0;
  --clean_start--ul_li_a--list_style--color: transparent;
  --clean_start--ul_li_a--list_style--font-size: 0.4rem;

  --clean_start--pre--font-family: var(--clean_start--monospace--font-family);
  --clean_start--pre--font-size: 0.9rem;
  --clean_start--pre--line-height: 1.2rem;

  --clean_start--site--min-height: 100vh;
  --clean_start--site--max-height: unset;
  --clean_start--site--height: auto;

  --clean_start--site--min-width: 72%;
  --clean_start--site--max-width: 100%;
  --clean_start--site--width: 72%;

  --clean_start--site--padding: 1rem 1rem 1rem 1rem;
  --clean_start--site--margin: 0 auto 0 auto;

  --clean_start--site--overflow-x: hidden;
  --clean_start--site--overflow-y: visible;

  --clean_start--body_tag--background: #eefefa;
  --clean_start--site--background: #fdfdfd;

  --clean_start--thead--background-color: #eefedd;
  --clean_start--tfoot--background-color: #ddfedd;

  --clean_start--scrollbar-thumb--background-color: lime;
  --clean_start--scrollbar-track--background-color: #fafefa;
  --clean_start--webkit-scrollbar--size: 0.3rem;
  --clean_start--scrollbar--width: thin;
  --clean_start--scrollbar--color: lime #e5fee5;
}


@supports selector(::-webkit-scrollbar) {

  .clean_start *::-webkit-scrollbar {
    width:  var(--clean_start--webkit-scrollbar--size);
    height: var(--clean_start--webkit-scrollbar--size);
  }

  .clean_start *::-webkit-scrollbar-thumb {
    background-color: var(--clean_start--scrollbar-thumb--background-color);
  }
  .clean_start *::-webkit-scrollbar-track {
    background-color: var(--clean_start--scrollbar-track--background-color);
  }
}

@supports (scrollbar-color: auto) {
  .clean_start * {
    scrollbar-width: var(--clean_start--scrollbar--width);
  }

  .clean_start * {
    scrollbar-color: var(--clean_start--scrollbar--color);
  }

}



.clean_start * {

  position:        relative;
  display:         inline-block;
  box-sizing:      border-box;

  padding:         0 0 0 0;
  margin:          0 0 0 0;

  font-family:     var(--clean_start--all_tags--font-family);
  font-size:       var(--clean_start--all_tags--font-size);
  line-height:     var(--clean_start--all_tags--line-height);

  letter-spacing:  0.003rem;
  line-break:      strict;
  word-wrap:       normal;
  word-break:      normal;
  color:           var(--clean_start--all_tags--color);

  border-color:    lime;
  border-style:    solid;
  border-width:    var(--clean_start--all_tags--border-width);

  min-height:      0;
  max-height:      unset;
  height:          auto;

  min-width:       0;
  max-width:       100%;
  width:           auto;

  overflow-x:      hidden;
  overflow-y:      visible;

}


/* this style sets rem size for the html page. 1rem = 16px */
html.clean_start {
  font-size:    var(--clean_start--rem);
}

html.clean_start {
  position: static;
  top:           0;
  padding: 0 0 0 0;
  margin:  0 0 0 0;
  box-sizing: border-box;

  width:        100%;
  max-width:    100%;
  min-width:    100%;

  overflow-x:   hidden;
}

/* these html elems are invisible */
.clean_start head,
.clean_start head *,
.clean_start style,
.clean_start script {
  visibility: hidden;
  display: block;
  min-height: unset;
  max-height: 0;
  height: 0;
  min-width:  unset;
  max-width:  0;
  width:  0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.clean_start body {
  position: relative;
  top:           0;
  padding: 0 0 0 0;
  margin:  0 0 0 0;
  display:      block;
  box-sizing:   border-box;

  font-size:    var(--clean_start--all_tags--font-size);

  height:       auto;
  max-height:   unset;
  min-height:   100vh;

  width:        100%;
  max-width:    100%;
  min-width:    100%;

  background:   var(--clean_start--body_tag--background);

  overflow-x:   hidden;
  overflow-y:   auto;
}

.clean_start main {
  margin:       var(--clean_start--site--margin);
  padding:      var(--clean_start--site--padding);

  font-size:    var(--clean_start--all_tags--font-size);

  height:       var(--clean_start--site--height);
  max-height:   var(--clean_start--site--max-height);
  min-height:   var(--clean_start--site--min-height);

  width:        var(--clean_start--site--width);
  max-width:    var(--clean_start--site--max-width);
  min-width:    var(--clean_start--site--min-width);

  background:   var(--clean_start--site--background);

  overflow:     var(--clean_start--site--overflow-x) var(--clean_start--site--overflow-y);
}

/* block tags reset */
.clean_start address,
.clean_start article,
.clean_start aside,
.clean_start blockquote,
.clean_start body,
.clean_start canvas,
.clean_start dd,
.clean_start div,
.clean_start dl,
.clean_start dt,
.clean_start fieldset,
.clean_start figcaption,
.clean_start figure,
.clean_start footer,
.clean_start form,
.clean_start header,
.clean_start hr,
.clean_start li,
.clean_start main,
.clean_start nav,
.clean_start noscript,
.clean_start ol,
.clean_start output,
.clean_start p,
.clean_start pre,
.clean_start section,
.clean_start ul,
.clean_start video {
  display: block;
}


.clean_start h1 {
  font-size:   var(--clean_start--h1--font-size);
  line-height: var(--clean_start--h1--line-height);
}

.clean_start h1, .clean_start h2, .clean_start h3, .clean_start h4,
 .clean_start h5, .clean_start h6, .clean_start h7, .clean_start h8,
 .clean_start h9 {
  display:     block;
  margin:      var(--clean_start--h--margin);
  color:       var(--clean_start--h--color);

  font-size:   var(--clean_start--h--font-size);
  line-height: var(--clean_start--h--line-height);
  font-weight: 600;
}


/* Paragraph html tag <p> */
.clean_start p {
  margin:      var(--clean_start--p--margin);
}

.clean_start p:first-of-type {
  margin-top:  0;
}

/* new lines and spaces are rendered like typed <pre> */
.clean_start pre {
  font-family: var(--clean_start--pre--font-family);
}

.clean_start pre,
 .clean_start pre * {
  font-size:   var(--clean_start--pre--font-size);
  line-height: var(--clean_start--pre--line-height);
}


/* Hyperlink html tag <a> (anchor) */
.clean_start a,
.clean_start a:active,
.clean_start a:visited {
  color:           var(--clean_start--anchor--color);
  text-decoration: none;
}

.clean_start a:hover,
.clean_start a:active:hover,
.clean_start a:visited:hover {
  color:           var(--clean_start--anchor_hover--color);
  text-decoration: underline;
}


