

.clean_start {

  --clean_start--rem: 16px;

  --clean_start--all_tags--font-family: var(--clean_start--sans--font-family);
  --clean_start--all_tags--font-size: 0.79rem;
  --clean_start--all_tags--line-height: 1rem;
  --clean_start--all_tags--color: black;
  --clean_start--all_tags--border-width: 0;

  --clean_start--anchor--color: navy;
  --clean_start--anchor_hover--color: blue;

  --clean_start--h1--font-size: 2rem;
  --clean_start--h1--line-height: 2.4rem;

  --clean_start--h--font-size: 1rem;
  --clean_start--h--line-height: 1.3rem;
  --clean_start--h--margin: 1.4rem 0 0.4rem 0;
  --clean_start--h--color: black;

  --clean_start--p--margin: 0.3rem 0 0.3rem 0;
  --clean_start--ul--margin: 0.3rem 0 0.4rem 3rem;
  --clean_start--pre--font-family: var(--clean_start--monospace--font-family);
  --clean_start--pre--font-size: 0.82rem;
  --clean_start--pre--line-height: 0.94rem;

  --clean_start--site--min-height: 100vh;
  --clean_start--site--max-height: unset;
  --clean_start--site--height: auto;

  --clean_start--site--min-width: 72%;
  --clean_start--site--max-width: 100%;
  --clean_start--site--width: 72%;

  --clean_start--site--padding: 1rem 1rem 1rem 1rem;
  --clean_start--site--margin: 0 auto 0 auto;

  --clean_start--site--overflow-x: hidden;
  --clean_start--site--overflow-y: visible;

  --clean_start--body_tag--background: #fdfdfd;
  --clean_start--site--background: #fdfdfd;

  --clean_start--thead--background-color: honeydew;
  --clean_start--tfoot--background-color: honeydew;

}

