
/* Table no reset */
.clean_start table {
  display: table;
  border: 0.3px solid lime;
}

.clean_start table caption {
  display: 	table-caption;
  overflow-x: hidden;
  text-align: center;
}

.clean_start colgroup {
  display: table-column-group;
}

.clean_start col {
  display: table-column;
}

.clean_start thead {
  display: table-header-group;
}

.clean_start th {
  display: table-cell;
  text-align: left;
}

.clean_start thead tr,
.clean_start thead th {
  background-color: var(--clean_start--thead--background-color);
}

.clean_start tbody {
  display: table-row-group;
}

.clean_start tr {
  display: table-row;
}

.clean_start td {
  display: table-cell;
  text-align: left;
}

.clean_start thead th,
.clean_start thead td,
.clean_start tbody th {
  font-weight: 600;
}

.clean_start tfoot {
  display: table-footer-group;
}

.clean_start tfoot td {
  font-weight: 600;
}

.clean_start tfoot tr,
.clean_start tfoot th {
  background-color: var(--clean_start--tfoot--background-color);
}


