

.clean_start ul.inline {
  display:          inline-block;
}

.clean_start ul.inline li ul {
  margin:           0 0 0 0;
}

.clean_start ul.inline li {
  display:          inline-block;
}



.clean_start ul {
  display:         block;
  margin:          0 0 0 0;

  list-style-type: none;
}

.clean_start ul li ul {
  margin:          var(--clean_start--ul--margin, 1rem);
}

.clean_start ul li {
  display: block;
}


.clean_start ul li * {
  display: inline-block;
  padding: 0 0.3rem 0 0;
  margin:  0 0 0 0;

  oveflow-x: visible;
  oveflow-y: visible;
}

.clean_start ul li i {
  padding: var(--clean_start--ul_li_a--padding);
  font-style: normal;
}

.clean_start ul li i::after {
  position: absolute;
  display:  block;
  z-index: 99;
  line-height: var(--clean_start--all_tags--line-height, 1.25rem);

  top:           0;
  left:          var(--clean_start--ul_li_a--list_style--left);

  content:       var(--clean_start--ul_li_a--list_style--content, '🔹');   /*  🟢  🔴  🔵  🔶  🔷  🔸  🔹  🔺  🔻  🟠  🟡  🟢  🟣  🟤  🟥  🟦  */
  font-size:     var(--clean_start--ul_li_a--list_style--font-size);
  color: var(--clean_start--ul_li_a--list_style--color);
  background-color: var(--clean_start--ul_li_a--list_style--background-color);
}

/* overrides wildcard style above */
.clean_start ul li,
 .clean_start ul li ul {
  display: block;
}


