  /* Css Clean Start Tiny styles */

  /** Just need time for publishing same packages after renamings and tests.
  *
  * Renamings in future for the few sites tools,
  * are aimed for Software Companies' Namespaces, like Jaisocx,
  * and, whether the alignment librarie's styles set,
  * the class name for the CssCleanStart, clean_start.
  *
  * Due to the aim of the SetUp,
  * the variables' namespace doesn't have the Companie's Name,
  * in order to allow to other Companies, ease and free setup of this opensource library on other sites, modified.
  */
.clean_start {
  /** -------------------------------
    this style sets rem size for the html page. 1rem = 16px
  */
  --clean_start--rem: 16px;


  /** -------------------------------
    height and width of the body elem
  */
  --clean_start--body_tag--min-height: 100vh;
  --clean_start--body_tag--max-height: unset;
  --clean_start--body_tag--height:     auto;

  --clean_start--body_tag--min-width:  100%;
  --clean_start--body_tag--max-width:  100%;
  --clean_start--body_tag--width:      100%;

  --clean_start--body_tag--overflow-x: hidden;
  --clean_start--body_tag--overflow-y: auto;


  /** -------------------------------
    height and width of the site, normally positioned in the center of the browser's tab
  */
  --clean_start--site--min-height: 100vh;
  --clean_start--site--max-height: fit-content;
  --clean_start--site--height:     fit-content;

  --clean_start--site--min-width:  75%;
  --clean_start--site--max-width:  100%;
  --clean_start--site--width:      75%;

  --clean_start--site--overflow-x: hidden;
  --clean_start--site--overflow-y: visible;


  /** -------------------------------
    padding of the site
  */
  --clean_start--site--padding-top:    1rem;
  --clean_start--site--padding-left:   1rem;
  --clean_start--site--padding-right:  1rem;
  --clean_start--site--padding-bottom: 1rem;
  --clean_start--site--padding: var(--clean_start--site--padding-top) var(--clean_start--site--padding-right) var(--clean_start--site--padding-bottom) var(--clean_start--site--padding-left);

  /** -------------------------------
    margin of the site
  */
  --clean_start--site--margin: 0 auto 0 auto;


  /** -------------------------------
    background styles of the html elem <body>, and, the direct anchester html elem <main>
  */
  --clean_start--body_tag--background:    #fdfdfd;
  --clean_start--site--background:        #fdfdfd;
}


