

.clean_start {
  --clean_start--pre--display:      var(--clean_start--inline_tags--display);

  --clean_start--pre--padding:      0 0 0 0;
  --clean_start--pre--margin:       0 0 0 0;

  --clean_start--pre--font-family:  var(--clean_start--monospace--font-family, Courier);
  --clean_start--pre--font-size:    var(--clean_start--all_tags--font-size);
  --clean_start--pre--line-height:  var(--clean_start--all_tags--line-height);
}

