

.clean_start {
  --clean_start--all_tags--position:       relative;
  --clean_start--all_tags--display:        block;
  --clean_start--all_tags--box-sizing:     border-box;

  --clean_start--all_tags--padding:        0 0 0 0;
  --clean_start--all_tags--margin:         0 0 0 0;

  --clean_start--all_tags--font-family:    var(--clean_star--sans--font-family);
  --clean_start--all_tags--font-size:      0.75rem;
  --clean_start--all_tags--line-height:    0.95rem;

  --clean_start--all_tags--letter-spacing: 0.01rem;
  --clean_start--all_tags--line-break:     strict;
  --clean_start--all_tags--word-wrap:      normal;
  --clean_start--all_tags--word-break:     normal;
  --clean_start--all_tags--color:          black;

  --clean_start--all_tags--border-color:   green;
  --clean_start--all_tags--border-style:   dotted;
  --clean_start--all_tags--border-width:   0;

  --clean_start--all_tags--min-height:     unset;
  --clean_start--all_tags--max-height:     100%;
  --clean_start--all_tags--height:         auto;

  --clean_start--all_tags--min-width:      unset;
  --clean_start--all_tags--max-width:      100%;
  --clean_start--all_tags--width:          auto;

  --clean_start--all_tags--overflow-x:     hidden;
  --clean_start--all_tags--overflow-y:     visible;
}


