  /* Css Clean Start Tiny styles */

  /** Just need time for publishing same packages after renamings and tests.
  *
  * Renamings in future for the few sites tools,
  * are aimed for Software Companies' Namespaces, like Jaisocx,
  * and, whether the alignment librarie's styles set,
  * the class name for the CssCleanStart, clean_start.
  *
  * Due to the aim of the SetUp,
  * the variables' namespace doesn't have the Companie's Name,
  * in order to allow to other Companies, ease and free setup of this opensource library on other sites, modified.
  */


  /* Font Families */
  /* Theme Fonts Old Good Fonts */
  /* microsoft fonts: The browser shows texts the right way on all computers with all other OS, like: ios, linux, android */
  /* @url: ../themes_fonts/clean_start_font_overrides.css */
.clean_start {
                                         /* microsoft, ios, linux, android */
  --clean_start--sans--font-family:      "Arial";
  --clean_start--serif--font-family:     "Times New Roman";
  --clean_start--monospace--font-family: "Courier";
  --clean_start--written--font-family:   "<microsoft>",   "Bradley Hand",   "Z003",   "cursive";
}


  /* Font Families */
  /* theme_fonts_b */
  /*  @url: ../themes_fonts/clean_start_font_overrides.css */
.jaisocx.clean_start {
                                         /* microsoft, ios, linux, android */
  --clean_start--sans--font-family:      "Franklin Gothic Medium",  "Hiragino Sans",  "Bitstream Vera Sans",   "sans-serif";
  --clean_start--serif--font-family:     "Cambria",     "Iowan Old Style",  "Bitstream Vera Serif",      "serif";
  --clean_start--monospace--font-family: "Consolas",    "Optima",           "Bitstream Vera Sans Mono",  "monospace";
  --clean_start--written--font-family:   "<microsoft>", "Bradley Hand",     "Z003",                      "cursive";
}


.clean_start {
  /** -------------------------------
    this style sets rem size for the html page. 1rem = 16px
  */
  --clean_start--rem: 16px;


  /** -------------------------------
    height and width of the body elem
  */
  --clean_start--body_tag--min-height: 100vh;
  --clean_start--body_tag--max-height: unset;
  --clean_start--body_tag--height:     auto;

  --clean_start--body_tag--min-width:  100%;
  --clean_start--body_tag--max-width:  100%;
  --clean_start--body_tag--width:      100%;

  --clean_start--body_tag--overflow-x: hidden;
  --clean_start--body_tag--overflow-y: auto;


  /** -------------------------------
    height and width of the site, normally positioned in the center of the browser's tab
  */
  --clean_start--site--min-height: 100vh;
  --clean_start--site--max-height: fit-content;
  --clean_start--site--height:     fit-content;

  --clean_start--site--min-width:  75%;
  --clean_start--site--max-width:  100%;
  --clean_start--site--width:      75%;

  --clean_start--site--overflow-x: hidden;
  --clean_start--site--overflow-y: visible;


  /** -------------------------------
    padding of the site
  */
  --clean_start--site--padding-top:    1rem;
  --clean_start--site--padding-left:   1rem;
  --clean_start--site--padding-right:  1rem;
  --clean_start--site--padding-bottom: 1rem;
  --clean_start--site--padding: var(--clean_start--site--padding-top) var(--clean_start--site--padding-right) var(--clean_start--site--padding-bottom) var(--clean_start--site--padding-left);

  /** -------------------------------
    margin of the site
  */
  --clean_start--site--margin: 0 auto 0 auto;


  /** -------------------------------
    background styles of the html elem <body>, and, the direct anchester html elem <main>
  */
  --clean_start--body_tag--background:    #fafff5;
  --clean_start--site--background:        #fff;


  /** -------------------------------
    html all tags styles
  */
  --clean_start--all_tags--position:       relative;
  --clean_start--all_tags--display:        block;
  --clean_start--all_tags--box-sizing:     border-box;

  --clean_start--all_tags--padding:        0 0 0 0;
  --clean_start--all_tags--margin:         0 0 0 0;

  --clean_start--all_tags--font-family:    var(--clean_start--sans--font-family);
  --clean_start--all_tags--font-size:      0.75rem;
  --clean_start--all_tags--line-height:    0.95rem;

  --clean_start--all_tags--letter-spacing: 0.01rem;
  --clean_start--all_tags--word-break:     break-all;
  --clean_start--all_tags--color:          black;

  --clean_start--all_tags--border-color:   green;
  --clean_start--all_tags--border-style:   dotted;
  --clean_start--all_tags--border-width:   0;

  --clean_start--all_tags--min-height:     unset;
  --clean_start--all_tags--max-height:     100%;
  --clean_start--all_tags--height:         auto;

  --clean_start--all_tags--min-width:      unset;
  --clean_start--all_tags--max-width:      100%;
  --clean_start--all_tags--width:          auto;

  --clean_start--all_tags--overflow-x:     hidden;
  --clean_start--all_tags--overflow-y:     visible;


  /** -------------------------------
    html elems styles
  */
  --clean_start--inline_tags--display:     inline-block;
  --clean_start--block_tags--display:      block;
  --clean_start--custom_tags--display:     var(--clean_start--block_tags--display);

  --clean_start--h--padding:   0 0 0 0;

  --clean_start--h--margin:    0 0 0 0;
  --clean_start--ul--margin:   0 0 0 2rem;
  --clean_start--p--margin:    0.9rem 0 0.9rem 0;


  /** -------------------------------
    h1 til h9 styles
  */
  --clean_start--h--padding:      0 0 0 0;
  --clean_start--h--margin:       0 0 0 0;
  --clean_start--h--color:        black;

  --clean_start--h--font-size:    2.3rem;
  --clean_start--h--line-height:  2.45rem;
  --clean_start--h--font-weight:  600;


  --clean_start--h1--font-size:   2.0rem;
  --clean_start--h1--line-height: 2.35rem;

  --clean_start--h2--font-size:   1.5rem;
  --clean_start--h2--line-height: 1.9rem;

  --clean_start--h3--font-size:   1.0rem;
  --clean_start--h3--line-height: 1.2rem;


  /** -------------------------------
    hyperlnks text colors
  */
  --clean_start--anchor--color: navy;
  --clean_start--anchor_hover--color: blue;

  --clean_start--anchor_visited--color: grey;
  --clean_start--anchor_visited_hover--color: grey;

  --clean_start--anchor_active--color: darkblue;
  --clean_start--anchor_active_hover--color: blue;


  /** -------------------------------
    hyperlnks are underlined, or they have been set other css text-decoration style
  */
  --clean_start--anchor--text-decoration: none;
  --clean_start--anchor_hover--text-decoration: underline;

  --clean_start--anchor_visited--text-decoration: none;
  --clean_start--anchor_visited_hover--text-decoration: underline;

  --clean_start--anchor_active--text-decoration: underline;
  --clean_start--anchor_active_hover--text-decoration: underline;


  --clean_start--thead--background-color: honeydew;
  --clean_start--tfoot--background-color: honeydew;
}


