

.clean_start ul,
.clean_start ul li,
.clean_start ul li i {
  display:         block;

  font-size:       var(--clean_start--ul_li_i--font-size);
  line-height:     var(--clean_start--ul_li_i--line-height);
}

.clean_start ul {
  margin:          var(--clean_start--ul--margin, 1rem);
}

.clean_start ul li,
.clean_start ul li i {
  margin:          0 0 0 0;
}

.clean_start ul,
.clean_start ul li {
  padding:         0 0 0 0;
}

.clean_start ul li i {
  padding:         var(--clean_start--ul_li_i--padding);
  font-style:      normal;
}

.clean_start ul li i ul li i {
  padding:         var(--clean_start--ul_li_i--padding);
}

.clean_start ul,
.clean_start ul li,
.clean_start ul li i {
  overflow-x:      visible;
  overflow-y:      visible;
}

.clean_start ul {
  list-style-type: none;
}

.clean_start ul li i * {
  display:     inline-block;
  padding:     0 0.3rem 0 0;
  overflow-x:  visible;
  overflow-y:  visible;

  line-height: var(--clean_start--ul_li_i--line-height);
  font-size:   var(--clean_start--ul_li_i--font-size);
}

.clean_start ul li i::after {
  /*  🟢  🔴  🔵  🔶  🔷  🔸  🔹  🔺  🔻  🟠  🟡  🟢  🟣  🟤  🟥  🟦  */

  content:       var(--clean_start--ul_li_i_c--content, '-');

  position:      absolute;
  display:       block;

  top:           var(--clean_start--ul_li_i_c--top);
  left:          var(--clean_start--ul_li_i_c--left);

  height:        var(--clean_start--ul_li_i--line-height);
  line-height:   var(--clean_start--ul_li_i--line-height);
  font-size:     var(--clean_start--ul_li_i_c--font-size);

  color:         var(--clean_start--ul_li_i_c--color);

  overflow-x:    hidden;
  overflow-y:    hidden;
}



/* overrides wildcard style above */
.clean_start ul li i ul,
.clean_start ul li i ul li {
  display:   block;
}

.clean_start ul li i ul {
  margin: var(--clean_start--i_ul--margin);
}

