

/* inline */
.clean_start ul.inline {
  display:          inline-block;
}

.clean_start ul.inline li {
  display:          inline-block;
}

.clean_start ul.inline li i {
  display:          inline-block;
}

.clean_start ul.inline li i * {
  display:          inline-block;
}

.clean_start ul.inline li i::after {
  display:          inline-block;
}

.clean_start ul.inline li ul {
  margin:           0 0 0 0;
}


.clean_start ul.tag_border li i::after {
  content:       '';

  display:       var(--clean_start--ul_li_i_o--tag_border--display);

  top:           var(--clean_start--ul_li_i_o--tag_border--top);
  left:          var(--clean_start--ul_li_i_o--tag_border--left);

  font-size:     0;
  line-height:   0;

  min-height: var(--clean_start--ul_li_i_o--tag_border--size);
  max-height: var(--clean_start--ul_li_i_o--tag_border--size);
  height: var(--clean_start--ul_li_i_o--tag_border--size);

  min-width: var(--clean_start--ul_li_i_o--tag_border--size);
  max-width: var(--clean_start--ul_li_i_o--tag_border--size);
  width: var(--clean_start--ul_li_i_o--tag_border--size);

  border: var(--clean_start--ul_li_i_o--tag_border--border);
  border-radius: var(--clean_start--ul_li_i_o--tag_border--border-radius);
  background: var(--clean_start--ul_li_i_o--tag_border--background);
}


