
/* Table */
.clean_start table {
  display: table;
  border: var(--clean_start--table--border);
}

.clean_start table caption {
  display: 	table-caption;
  overflow-x: hidden;
  text-align: var(--clean_start--table_caption--text-align);

  border: var(--clean_start--table_caption--border);
  color: var(--clean_start--table_caption--color);
  background-color: var(--clean_start--table_caption--background-color);
}

.clean_start colgroup {
  display: table-column-group;
}

.clean_start col {
  display: table-column;
}

.clean_start thead {
  display: table-header-group;
}

.clean_start th {
  display: table-cell;
  text-align: var(--clean_start--table_th--text-align);
}

.clean_start thead tr,
.clean_start thead th {
  color: var(--clean_start--table_th--color);
  background-color: var(--clean_start--table_th--background-color);
}

.clean_start tbody {
  display: table-row-group;
}

.clean_start tr {
  display: table-row;
}

.clean_start td {
  display: table-cell;
  text-align: left;
}

.clean_start thead th,
.clean_start thead td,
.clean_start tbody th {
  font-weight: 600;
}

.clean_start table td {
  color: var(--clean_start--table_td--color);
  background-color: var(--clean_start--table_td--background-color);
}

.clean_start table tr:nth-of-type(2n + 1) td {
  color: var(--clean_start--table_td_odd--color);
  background-color: var(--clean_start--table_td_odd--background-color);
}

.clean_start table tr:nth-of-type(2n + 2) td {
  color: var(--clean_start--table_td_even--color);
  background-color: var(--clean_start--table_td_even--background-color);
}

.clean_start tfoot {
  display: table-footer-group;
}

.clean_start tfoot td {
  font-weight: 600;
}

.clean_start tfoot tr:nth-of-type(2n + 1) td {
  color: var(--clean_start--table_tfoot--color);
  background-color: var(--clean_start--table_tfoot--background-color);
}


