
/* @start base theme for clean_start_tiny html tag label */
.clean_start {
  --clean_start--site--padding:              0 0 0 0;
  --clean_start--site--background:           #fdfdfd;
  --clean_start--body_tag--background:       #eefefa;
  --clean_start--site--width:                100%;
}
/* @finish base theme for clean_start_tiny html tag label */


