
/* @start base theme for clean_start_tiny html tag textarea */
.clean_start {
  --clean_start--textarea--font-family:       var(--clean_start--sans--font-family);
  --clean_start--textarea--font-size:         var(--clean_start--all_tags--font-size);
  --clean_start--textarea--line-height:       var(--clean_start--all_tags--line-height);
  --clean_start--textarea--padding:           0 0 0 0;
  --clean_start--textarea--margin:            0 0 0 0;
  --clean_start--textarea--min-width:         unset;
  --clean_start--textarea--max-width:         100%;
  --clean_start--textarea--width:             10rem;
  --clean_start--textarea--border:            0.3px solid #ddd;
  --clean_start--textarea--outline:           unset;
}
/* @finish base theme for clean_start_tiny html tag textarea */


