
/* @start clean_start_tiny for all html tags */
.clean_start * {

  position:        relative;
  display:         inline-block;
  box-sizing:      border-box;

  padding:         0 0 0 0;
  margin:          0 0 0 0;

  font-family:     var(--clean_start--all_tags--font-family, Arial);
  font-size:       var(--clean_start--all_tags--font-size, 0.9rem);
  line-height:     var(--clean_start--all_tags--line-height, 1.2rem);

  letter-spacing:  0.003rem;
  line-break:      strict;
  word-wrap:       normal;
  word-break:      normal;
  color:           var(--clean_start--all_tags--color, black);

  border-color:    lime;
  border-style:    solid;
  border-width:    var(--clean_start--all_tags--border-width, 0);

  min-height:      0;
  max-height:      unset;
  height:          auto;

  min-width:       0;
  max-width:       100%;
  width:           auto;

  overflow-x:      hidden;
  overflow-y:      visible;
}
/* @finish clean_start_tiny for all html tags */



/* @start clean_start_tiny main html tags */
/* this style sets rem size for the html page. 1rem = 16px */
html.clean_start {
  font-size:    var(--clean_start--rem, 16px);
}

html.clean_start {
  position: static;
  top:           0;
  padding: 0 0 0 0;
  margin:  0 0 0 0;
  box-sizing: border-box;

  width:        100%;
  max-width:    100%;
  min-width:    100%;

  overflow-x:   hidden;
}

/* these html elems are invisible */
.clean_start head,
.clean_start head *,
.clean_start style,
.clean_start script {
  visibility: hidden;
  display: block;
  min-height: unset;
  max-height: 0;
  height: 0;
  min-width:  unset;
  max-width:  0;
  width:  0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.clean_start body {
  position: relative;
  top:           0;
  padding: 0 0 0 0;
  margin:  0 0 0 0;
  display:      block;
  box-sizing:   border-box;

  font-size:    var(--clean_start--all_tags--font-size, 0.9rem);

  height:       auto;
  max-height:   unset;
  min-height:   100vh;

  width:        100%;
  max-width:    100%;
  min-width:    100%;

  background:   var(--clean_start--body_tag--background, #eafde5);

  overflow-x:   hidden;
  overflow-y:   auto;
}

.clean_start main {
  padding:      var(--clean_start--site--padding, 1rem 1.9rem 12rem 1.9rem);
  margin:       0 auto 0 auto;

  font-size:    var(--clean_start--all_tags--font-size, 0.9rem);

  min-height:   100vh;
  max-height:   unset;
  height:       auto;

  width:        var(--clean_start--site--width, 95%);
  max-width:    100%;
  min-width:    var(--clean_start--site--width, 95%);

  background:   var(--clean_start--site--background, #fdfdfd);

  overflow-x: hidden;
  overflow-y: visible;
}
/* @finish clean_start_tiny main html tags */



/* @start clean_start_tiny display style for all html tags */
html.clean_start {
  display:      block;
}

.clean_start * {
  display:      inline-block;
}

.clean_start body {
  display:      block;
}

.clean_start main {
  display:      block;
}



/* block tags reset, the Jaisocx tags proposed */
.clean_start layout-block,
.clean_start text-lines-block {
  display: block;
}

/* block tags reset, the tags normally in html */
.clean_start canvas,
.clean_start fieldset,
.clean_start nav,
.clean_start ol,
.clean_start ul,
.clean_start aside,
.clean_start p,
.clean_start pre,
.clean_start div,
.clean_start video {
  display: block;
}
/* @finish clean_start_tiny display style for all html tags */



/* @start clean_start_tiny html tag h1 til h6 */
.clean_start h1, .clean_start h2, .clean_start h3,
 .clean_start h4, .clean_start h5, .clean_start h6 {
  display:     block;
  margin:      var(--clean_start--h--margin, 1.4rem 0 1.2rem 0);

  font-weight: 600;
}

.clean_start h1 {
  text-align: center;

  font-size:   var(--clean_start--h1--font-size, 1.9rem);
  line-height: var(--clean_start--h1--line-height, 2.3rem);

  color: var(--clean_start--h1--color);
  background-color: var(--clean_start--h1--background-color);
}

.clean_start h2, .clean_start h3,
 .clean_start h4, .clean_start h5, .clean_start h6 {
  color:       var(--clean_start--h--color);
  font-size:   var(--clean_start--h--font-size, 1.09rem);
  line-height: var(--clean_start--h--line-height, 1.4rem);
}
/* @finish clean_start_tiny html tag h1 til h6 */



/* @start clean_start_tiny html tag a */
/* Hyperlink html tag <a> (anchor) */
.clean_start a,
.clean_start a:active,
.clean_start a:visited {
  color:           var(--clean_start--anchor--color, navy);
  text-decoration: none;
}

.clean_start a:hover,
.clean_start a:active:hover,
.clean_start a:visited:hover {
  color:           var(--clean_start--anchor_hover--color, blue);
  text-decoration: underline;
}
/* @finish clean_start_tiny html tag a */



/* @start clean_start_tiny html tag Label */
.clean_start label {
  display:    var(--clean_start--label--display, inline-block);

  overflow-x: hidden;
  overflow-y: hidden;

  min-height: unset;
  max-height: 100%;
  height: fit-content;

  min-width: unset;
  max-width: 100%;
  width: fit-content;

  font-size:           var(--clean_start--label--font-size, 0.82rem);
  line-height:         var(--clean_start--label--line-height, 0.82rem);

  padding:             var(--clean_start--label--padding, 0.14rem 0.5rem 0.14rem 0.5rem);
  margin:              var(--clean_start--label--margin, 0 0.24rem 0 0);

  color:               var(--clean_start--label--color, darkgreen);
  background-color:    var(--clean_start--label--background-color, #d3fafd);

  border:              var(--clean_start--label--border, 1px solid lime);
  border-radius:       var(--clean_start--label--border-radius, 0.8rem);
}
/* @finish clean_start_tiny html tag Label */



/* @start clean_start_tiny html tag p */
/* Paragraph html tag <p> */
.clean_start p {
  line-height:  var(--clean_start--p--line-height, 1.2rem);
  font-size:    var(--clean_start--p--font-size, 0.9rem);
  margin:       var(--clean_start--p--margin, 0 0 1rem 0);
}

.clean_start p:first-of-type {
  margin-top:  0;
}

.clean_start p *,
.clean_start layout-block p * {
  margin-top:      0;
  margin-bottom:   0;

  line-height:     var(--clean_start--p--font-size, 0.9rem);
  max-height:      var(--clean_start--p--line-height, 1.2rem);

  overflow-x: visible;
  overflow-y: hidden;
}
/* @finish clean_start_tiny html tag p */



/* @start clean_start_tiny html tag pre */
/* new lines and spaces are rendered like typed <pre> */
.clean_start pre {
  font-family: var(--clean_start--pre--font-family, Courier);
}

.clean_start pre,
 .clean_start pre * {
  font-size:   var(--clean_start--pre--font-size, 0.9rem);
  line-height: var(--clean_start--pre--line-height, 1.2rem);
}
/* @finish clean_start_tiny html tag pre */



/* @start clean_start_tiny html tag ul_li */
.clean_start ul,
.clean_start ul li,
.clean_start li i {
  font-size:       var(--clean_start--ul_li_i--font-size, 0.9rem);
  line-height:     var(--clean_start--ul_li_i--line-height, 1.2rem);
}

.clean_start ul,
.clean_start ul li {
  display:         block;
}

.clean_start li i {
  display:         inline-block;
}

.clean_start ul {
  margin:          var(--clean_start--ul--margin, 0.3rem 0 0.3rem 0.5rem);
}

.clean_start ul li,
.clean_start li i {
  margin:          0 0 0 0;
}

.clean_start ul,
.clean_start ul li {
  padding:         0 0 0 0;
}

.clean_start li i {
  padding:         var(--clean_start--ul_li_i--padding, 0 0.5rem 0 0.5rem);
  font-style:      normal;
}

.clean_start i ul i {
  padding:         var(--clean_start--i_ul_li_i--padding, 0 0 0 0.5rem);
}

.clean_start ul,
.clean_start ul li,
.clean_start li i {
  overflow-x:      visible;
  overflow-y:      visible;
}

.clean_start ul {
  list-style-type: none;
}

.clean_start li i * {
  display:     var(--clean_start--ul_li_i_tags--display, inline-block);
  padding:     var(--clean_start--ul_li_i_tags--padding, 0 0.3rem 0 0);
  overflow-x:  visible;
  overflow-y:  visible;

  line-height: var(--clean_start--ul_li_i--line-height, 1.2rem);
  font-size:   var(--clean_start--ul_li_i--font-size, 0.9rem);
}

.clean_start li i::after {
  content:       var(--clean_start--ul_li_i_c--content, '-');

  position:      absolute;
  display:       block;

  top:           var(--clean_start--ul_li_i_c--top, 0);
  left:          var(--clean_start--ul_li_i_c--left, -0.5rem);

  height:        var(--clean_start--ul_li_i--line-height, 1.2rem);
  line-height:   var(--clean_start--ul_li_i--line-height, 1.2rem);
  font-size:     var(--clean_start--ul_li_i_c--font-size, 0.9rem);

  color:         var(--clean_start--ul_li_i_c--color, lime);

  overflow-x:    hidden;
  overflow-y:    hidden;
}

  /* overrides wildcard style above */
.clean_start i ul,
.clean_start i ul li {
  display:   block;
}

.clean_start i ul {
  margin: var(--clean_start--i_ul--margin, 0.3rem 0 0.3rem 1rem);
}

/* inline */
.clean_start ul.inline li {
  display:          inline-block;
}

.clean_start ul.inline li i * {
  display:          inline-block;
}

.clean_start ul.inline li i::after {
  content:       var(--clean_start--ul_li_i_c--content, '|');
}
/* @finish clean_start_tiny html tag ul_li */



/* @start clean_start_tiny html tag table */
.clean_start table {
  display: table;
  border: var(--clean_start--table--border, 1px solid green);
  border-collapse: collapse;
}

.clean_start colgroup {
  display: table-column-group;
}

.clean_start col {
  display: table-column;
}

.clean_start thead {
  display: table-header-group;
  border: var(--clean_start--table_th--border, 1px solid green );
}

.clean_start th {
  display: table-cell;
}

.clean_start thead tr,
.clean_start thead th,
.clean_start thead td,
.clean_start tbody th {
  background-color: var(--clean_start--table_th--background-color, #eefedd);
}

.clean_start thead th,
.clean_start thead td,
.clean_start tbody th {
  text-align: var(--clean_start--table_th--text-align, center);
  padding: var(--clean_start--table_td--padding, 0.2rem 0.3rem 0.2rem 0.4rem);
  color: var(--clean_start--table_th--color);
  border: var(--clean_start--table_th--border, 1px solid green);
}

.clean_start tbody {
  display: table-row-group;
}

.clean_start tr {
  display: table-row;
}

.clean_start td {
  display: table-cell;
  text-align: left;
  padding: var(--clean_start--table_td--padding, 0.2rem 0.3rem 0.2rem 0.4rem);
  border: var(--clean_start--table_td--border, 0.2px solid green);
}

.clean_start thead th,
.clean_start thead td,
.clean_start tbody th {
  font-weight: 600;
}

.clean_start table td {
  color: var(--clean_start--table_td--color, black);
  background-color: var(--clean_start--table_td--background-color, #fdfdfd);
}
/* @finish clean_start_tiny html tag table */



/* @start clean_start_tiny scrollbar styles for all html tags */
.clean_start {
  --clean_start--scrollbar--color: var(--clean_start--scrollbar-thumb--background-color, lime)  var(--clean_start--scrollbar-track--background-color, #eafdfa);
}
@supports selector(::-webkit-scrollbar) {

  .clean_start *::-webkit-scrollbar {
    width:  var(--clean_start--scrollbar--size, 0.3rem);
    height: var(--clean_start--scrollbar--size, 0.3rem);
  }

  .clean_start *::-webkit-scrollbar-thumb {
    background-color: var(--clean_start--scrollbar-thumb--background-color, lime);
  }
  .clean_start *::-webkit-scrollbar-track {
    background-color: var(--clean_start--scrollbar-track--background-color, #eafdfa);
  }
}

@supports (scrollbar-color: auto) {
  .clean_start * {
    scrollbar-width: var(--clean_start--scrollbar--width, thin);
  }

  .clean_start * {
    scrollbar-color: var(--clean_start--scrollbar--color);
  }

}
/* @finish clean_start_tiny scrollbar styles for all html tags */


