

.clean_start h1,
.clean_start h2,
.clean_start h3,
.clean_start h4,
.clean_start h5,
.clean_start h6,
.clean_start h7,
.clean_start h8,
.clean_start h9 {
  display:     var(--clean_start--h--display);
  padding:     var(--clean_start--h--padding);
  margin:      var(--clean_start--h--margin);
  color:       var(--clean_start--h--color);

  font-size:   var(--clean_start--h--font-size);
  line-height: var(--clean_start--h--line-height);
  font-weight: var(--clean_start--h--font-weight);
}

.clean_start h1 {
  font-size:   var(--clean_start--h1--font-size);
  line-height: var(--clean_start--h1--line-height);
}

.clean_start h2 {
  font-size:   var(--clean_start--h2--font-size);
  line-height: var(--clean_start--h2--line-height);
}

.clean_start h3 {
  font-size:   var(--clean_start--h3--font-size);
  line-height: var(--clean_start--h3--line-height);
}


