
  /** -------------------------------
    ordered and unordered lists styles
  */
.clean_start ul,
.clean_start ol {
  display: var(--clean_start--ul--display);
  padding: var(--clean_start--ul--padding);
  margin: var(--clean_start--ul--margin);

  border-color: var(--clean_start--ul--border-color, #999);
  border-style: var(--clean_start--ul--border-style, solid);
  border-width: var(--clean_start--ul--border-width, 0);

  min-height: var(--clean_start--ul--min-height);
  max-height: var(--clean_start--ul--max-height, 100%);
  height: var(--clean_start--ul--height, auto);

  min-width: var(--clean_start--ul--min-width);
  max-width: var(--clean_start--ul--max-width, 100%);
  width: var(--clean_start--ul--width, auto);

  overflow-x: var(--clean_start--ul--overflow-x, hidden);
  overflow-y: var(--clean_start--ul--overflow-y, visible);
}



.clean_start ul li,
.clean_start ol li {
  display: var(--clean_start--ul_li--display);
  padding: var(--clean_start--ul_li--padding);
  margin: var(--clean_start--ul_li--margin);

  font-family: var(--clean_start--ul_li--font-family);
  font-size: var(--clean_start--ul_li--font-size);
  line-height: var(--clean_start--ul_li--line-height);
  letter-spacing: var(--clean_start--ul_li--letter-spacing);
  word-break: var(--clean_start--ul_li--word-break);
  color: var(--clean_start--ul_li--color, black);

  border-color: var(--clean_start--ul_li--border-color, #999);
  border-style: var(--clean_start--ul_li--border-style, solid);
  border-width: var(--clean_start--ul_li--border-width, 0);

  min-height: var(--clean_start--ul_li--min-height);
  max-height: var(--clean_start--ul_li--max-height, 100%);
  height: var(--clean_start--ul_li--height, auto);

  min-width: var(--clean_start--ul_li--min-width);
  max-width: var(--clean_start--ul_li--max-width, 100%);
  width: var(--clean_start--ul_li--width, auto);

  overflow-x: var(--clean_start--ul_li--overflow-x, hidden);
  overflow-y: var(--clean_start--ul_li--overflow-y, visible);
}



.clean_start ul li a,
.clean_start ol li a,
.clean_start ul li i,
.clean_start ol li i {
  display: var(--clean_start--ul_li_a--display, inline-block);
  padding: var(--clean_start--ul_li_a--padding);
  margin: var(--clean_start--ul_li_a--margin);

  border-color: var(--clean_start--ul_li_a--border-color, #999);
  border-style: var(--clean_start--ul_li_a--border-style, solid);
  border-width: var(--clean_start--ul_li_a--border-width, 0);

  min-height: var(--clean_start--ul_li_a--min-height);
  max-height: var(--clean_start--ul_li_a--max-height, 100%);
  height: var(--clean_start--ul_li_a--height, auto);

  min-width: var(--clean_start--ul_li_a--min-width);
  max-width: var(--clean_start--ul_li_a--max-width, 100%);
  width: var(--clean_start--ul_li_a--width, auto);

  overflow-x: var(--clean_start--ul_li_a--overflow-x, hidden);
  overflow-y: var(--clean_start--ul_li_a--overflow-y, visible);
}



.clean_start ul li i::after,
.clean_start ol li i::after {
  position: var(--clean_start--ul_li_a--list_style--position, absolute);
  display: var(--clean_start--ul_li_a--list_style--display, inline-block);

  top: var(--clean_start--ul_li_a--list_style--top, 0);
  left: var(--clean_start--ul_li_a--list_style--left, -1.64rem);
  content: var(--clean_start--ul_li_a--list_style--content, '🟢');   /*  🟢  🔴  🔵  🔶  🔷  🔸  🔹  🔺  🔻  🟠  🟡  🟢  🟣  🟤  🟥  🟦  */
  font-size: var(--clean_start--ul_li_a--list_style--font-size, 0.3rem);

  min-height: var(--clean_start--ul_li_a--list_style--min-height, 0.1px);
  max-height: var(--clean_start--ul_li_a--list_style--max-height, 0.14rem);
  height: var(--clean_start--ul_li_a--list_style--height, 0.14rem);

  min-width: var(--clean_start--ul_li_a--list_style--min-widt, 0.1px);
  max-width: var(--clean_start--ul_li_a--list_style--max-width, 0.14rem);
  width: var(--clean_start--ul_li_a--list_style--width, 0.14rem);

  overflow-x: var(--clean_start--ul_li_a--list_style--overflow-x, hidden);
  overflow-x: var(--clean_start--ul_li_a--list_style--overflow-y, hidden);

  /*
  border-color: var(--clean_start--ul_li_a--list_style--border-color, #999);
  border-style: var(--clean_start--ul_li_a--list_style--border-style, solid);
  border-width: var(--clean_start--ul_li_a--list_style--border-width, 0);

  border-radius: var(--clean_start--ul_li_a--list_style--border-radius, 0);
  */

  /* background: var(--clean_start--ul_li_a--list_style--background:     url('list-style-bg-image.webp') top left border-box fixed no-repeat; */
  /* background: var(--clean_start--ul_li_a--list_style--background:     url('list-style-bg-image.webp'); */
  /* background: var(--clean_start--ul_li_a--list_style--background, #5f9); */

  /*
  transform-origin: var(--clean_start--ul_li_a--list_style--transform-origin, center);
  rotate: var(--clean_start--ul_li_a--list_style--rotate, 45deg);
  border-radius: var(--clean_start--ul_li_a--list_style--border-radius, 0);
  */

  /*
  background-attachment: var(--clean_start--ul_li_a--list_style--background-attachment, fixed);
  background-clip: var(--clean_start--ul_li_a--list_style--background-clip, border-box);
  background-image: var(--clean_start--ul_li_a--list_style--background-image);
  background-origin: var(--clean_start--ul_li_a--list_style--background-origin, border-box);
  background-position: var(--clean_start--ul_li_a--list_style--background-position, center);
  background-repeat: var(--clean_start--ul_li_a--list_style--background-repeat, no-repeat);
  background-size: var(--clean_start--ul_li_a--list_style--background-size, 100%);
  */
}


