
  /** -------------------------------
    ordered and unordered lists styles
  */

.clean_start ol.inline,
.clean_start ul.inline {
  display:         var(--clean_start--inline_tags--display, inline-block);
}

.clean_start ul.inline li ul,
.clean_start ul.inline li ol,
.clean_start ol.inline li ul,
.clean_start ol.inline li ol {
  margin:          var(--clean_start--ul--margin, 0);
}

.clean_start ul.inline li,
.clean_start ol.inline li {
  display:         var(--clean_start--inline_tags--display, inline-block);
}



.clean_start ol,
.clean_start ul {
  display:         var(--clean_start--block_tags--display, block);
  margin:          var(--clean_start--all_tags--margin);

  list-style-type: none;
}

.clean_start ul li ul,
.clean_start ul li ol,
.clean_start ol li ul,
.clean_start ol li ol {
  margin:          var(--clean_start--ul--margin, 3rem);
}

.clean_start ul li,
.clean_start ol li {
  display: var(--clean_start--block_tags--display, block);
}


.clean_start ul li a,
.clean_start ol li a,
.clean_start ul li i,
.clean_start ol li i {
  display: var(--clean_start--ul_li_a--display, inline-block);
  padding: var(--clean_start--ul_li_a--padding);
  margin: var(--clean_start--ul_li_a--margin);
}



.clean_start ul li i::after,
.clean_start ol li i::after {
  position: var(--clean_start--ul_li_a--list_style--position, absolute);
  display: var(--clean_start--ul_li_a--list_style--display, inline-block);

  top: var(--clean_start--ul_li_a--list_style--top, 0);
  left: var(--clean_start--ul_li_a--list_style--left, -1.64rem);
  content: var(--clean_start--ul_li_a--list_style--content, '🟢');   /*  🟢  🔴  🔵  🔶  🔷  🔸  🔹  🔺  🔻  🟠  🟡  🟢  🟣  🟤  🟥  🟦  */
  font-size: var(--clean_start--ul_li_a--list_style--font-size, 0.3rem);
  line-height: var(--clean_start--all_tags--line-height, 0.95rem);
}


