

.clean_start * {

  position:        var(--clean_start--all_tags--position);
  /* display:         var(--clean_start--all_tags--display); */
  display:         var(--clean_start--custom_tags--display);
  box-sizing:      var(--clean_start--all_tags--box-sizing);

  padding:         var(--clean_start--all_tags--padding);
  margin:          var(--clean_start--all_tags--margin);

  font-family:     var(--clean_start--all_tags--font-family);
  font-size:       var(--clean_start--all_tags--font-size);
  line-height:     var(--clean_start--all_tags--line-height);

  letter-spacing:  var(--clean_start--all_tags--letter-spacing);
  line-break:      var(--clean_start--all_tags--line-break);
  word-wrap:       var(--clean_start--all_tags--word-wrap);
  word-break:      var(--clean_start--all_tags--word-break);
  color:           var(--clean_start--all_tags--color);

  border-color:    var(--clean_start--all_tags--border-color);
  border-style:    var(--clean_start--all_tags--border-style);
  border-width:    var(--clean_start--all_tags--border-width);

  min-height:      var(--clean_start--all_tags--min-height);
  max-height:      var(--clean_start--all_tags--max-height);
  height:          var(--clean_start--all_tags--height);

  min-width:       var(--clean_start--all_tags--min-width);
  max-width:       var(--clean_start--all_tags--max-width);
  width:           var(--clean_start--all_tags--width);

  overflow-x:      var(--clean_start--all_tags--overflow-x);
  overflow-y:      var(--clean_start--all_tags--overflow-y);
}


