

.clean_start pre {
  display:     var(--clean_start--pre--display, inline-block);

  padding:     var(--clean_start--pre--padding);
  margin:      var(--clean_start--pre--margin);

  font-family: var(--clean_start--pre--font-family);
  font-size:   var(--clean_start--pre--font-size);
  line-height: var(--clean_start--pre--line-height);
}

