<!DOCTYPE html>
<html lang="en" class="jsx theme_darkmode">
<head>

  <title> Vite Framework Test Template </title>

  <base href="./" />

  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />



  <link
      rel="stylesheet"
      type="text/css"
      charset="utf-8"
      href="node_modules/@jaisocx/css_clean_start_lite/MediaAndStyles/CssCleanStart_Lite_main_resolved.css"
      href-fallback="../css_clean_start_lite/MediaAndStyles/CssCleanStart_Lite_main_resolved.css"
      onerror="javascript: ( () => { this.href = this.getAttribute( 'href-fallback' ); this.onerror = null; } )();"
  />

  <style>

    .jsx {
      --jsx--css-clean-start-2--site--padding: 2rem 1rem 3rem 1rem;
      --jsx--css-clean-start-2--h1--margin: 1rem 0 1rem 0;
      --jsx--css-clean-start-2--custom-tags--display: block;
      --jsx--css-clean-start-2--all-tags--margin: 0.2rem 0 0.2rem 0;
    }

  </style>

</head>
<body>

  <main id="app"></main>
  <script type="module" src="/src/main.ts"></script>

</body>
</html>

