
/* @start clean_start_tiny main html tags */
/* this style sets rem size for the html page. 1rem = 16px */
html.clean_start {
  font-size:      var(--clean_start--rem, 16px);
}



html.clean_start {
  position: static;
  top:           0;
  padding: 0 0 0 0;
  margin:  0 0 0 0;
  box-sizing: border-box;

  width:        100%;
  max-width:    100%;
  min-width:    100%;

  overflow-x:   hidden;
}

/* these html elems are invisible */
.clean_start head,
.clean_start head *,
.clean_start style,
.clean_start script {
  min-height: unset;
  max-height: 0;
  height: 0;
  min-width:  unset;
  max-width:  0;
  width:  0;
  overflow-y: hidden;
  overflow-x: hidden;
  visibility: hidden;
  display: block;
}

.clean_start body {
  position: relative;
  top:           0;
  padding: 0 0 0 0;
  margin:  0 0 0 0;
  display:      block;
  box-sizing:   border-box;

  font-size:    var(--clean_start--all_tags--font-size, 0.9rem);

  min-height:   100vh;
  max-height:   unset;
  height:       auto;

  min-width:    100%;
  max-width:    100%;
  width:        100%;

  background:   var(--clean_start--body_tag--background, #eefdf4);

  overflow-x:   hidden;
  overflow-y:   auto;
}

.clean_start main {
  padding:      var(--clean_start--site--padding, 0 0 0 0);
  margin:       0 auto 0 auto;

  font-size:    var(--clean_start--all_tags--font-size, 0.9rem);

  min-height:   100vh;
  max-height:   unset;
  height:       auto;

  min-width:    var(--clean_start--site--width, 100%);
  max-width:    100%;
  width:        var(--clean_start--site--width, 100%);

  background:   var(--clean_start--site--background, #fdfdfd);

  overflow-x:   hidden;
  overflow-y:   visible;
}
/* @finish clean_start_tiny main html tags */


