
/* new lines and spaces are rendered like typed <pre> */
.clean_start pre {
  font-family: var(--clean_start--pre--font-family);
}

.clean_start pre,
 .clean_start pre * {
  font-size:   var(--clean_start--pre--font-size);
  line-height: var(--clean_start--pre--line-height);
}


