
/* @start clean_start_tiny html tag h1 til h6 */
.clean_start h1, .clean_start h2, .clean_start h3,
 .clean_start h4, .clean_start h5, .clean_start h6 {
  display:     block;
  margin:      var(--clean_start--h--margin);

  font-weight: 600;
}

.clean_start h1 {
  text-align: center;

  font-size:   var(--clean_start--h1--font-size);
  line-height: var(--clean_start--h1--line-height);

  color: var(--clean_start--h1--color);
  background-color: var(--clean_start--h1--background-color);
}

.clean_start h2, .clean_start h3,
 .clean_start h4, .clean_start h5, .clean_start h6 {
  color:       var(--clean_start--h--color);
  font-size:   var(--clean_start--h--font-size);
  line-height: var(--clean_start--h--line-height);
}
/* @finish clean_start_tiny html tag h1 til h6 */


