
/* @start clean_start_tiny html tag ul_li */

.clean_start ul li::after {
  content:         var(--clean_start--ul_li_c--content, '');
}

.clean_start ul.inline li::after {
  content:         var(--clean_start--ul_li_c--content, '');
}



.clean_start * ul {
  padding:         var(--clean_start--ul--padding, 0 0 0 0);
  display:         var(--clean_start--ul--display, block);
  margin:          var(--clean_start--ul--margin, 0 0 0 0);

  line-height:     var(--clean_start--ul--line-height, 0.9rem);
  font-size:       var(--clean_start--ul--font-size, 0.9rem);

  min-height:      var(--clean_start--ul--min-height, 0);
  max-height:      var(--clean_start--ul--max-height, unset);
  height:          var(--clean_start--ul--height, auto);

  overflow-x:      var(--clean_start--ul--overflow-x, visible);
  overflow-y:      var(--clean_start--ul--overflow-y, visible);
}

.clean_start ul li {
  padding:         var(--clean_start--ul_li--padding, 0 0 0 0);
  display:         var(--clean_start--ul_li--display, block);
  margin:          var(--clean_start--ul_li--margin, 0 0 0 0);

  line-height:     var(--clean_start--ul_li--line-height, 1.2rem);
  font-size:       var(--clean_start--ul_li--font-size, 0.9rem);

  min-height:      var(--clean_start--ul_li--min-height, 0);
  max-height:      var(--clean_start--ul_li--max-height, unset);
  height:          var(--clean_start--ul_li--height, auto);

  overflow-x:      var(--clean_start--ul_li--overflow-x, visible);
  overflow-y:      var(--clean_start--ul_li--overflow-y, visible);
}

.clean_start ul li * {
  padding:         var(--clean_start--ul_li_tags--padding, 0 0 0 0);
  display:         var(--clean_start--ul_li_tags--display, inline-block);
  margin:          var(--clean_start--ul_li_tags--margin, 0 0 0 0);

  font-size:       var(--clean_start--ul_li_tags--font-size, 0.9rem);
  line-height:     var(--clean_start--ul_li_tags--line-height, 0.9rem);

  min-height:      var(--clean_start--ul_li_tags--min-height, 0);
  max-height:      var(--clean_start--ul_li_tags--max-height, unset);
  height:          var(--clean_start--ul_li_tags--height, 0.9rem);

  overflow-x:      var(--clean_start--ul_li_tags--overflow-x, visible);
  overflow-y:      var(--clean_start--ul_li_tags--overflow-y, visible);
}



/* overrides wildcard styles before */
.clean_start ul li ul {
  padding:         var(--clean_start--li_ul--padding, 0 0 0 0);

  display:         var(--clean_start--li_ul--display, block);
  margin:          var(--clean_start--li_ul--margin, 0 0 0 0);

  font-size:       var(--clean_start--li_ul--font-size, 0.9rem);
  line-height:     var(--clean_start--li_ul--line-height, 0.9rem);

  min-height:      var(--clean_start--li_ul--min-height, 0);
  max-height:      var(--clean_start--li_ul--max-height, unset);
  height:          var(--clean_start--li_ul--height, auto);

  overflow-x:      var(--clean_start--li_ul--overflow-x, visible);
  overflow-y:      var(--clean_start--li_ul--overflow-y, visible);
}

.clean_start li ul li {
  padding:         var(--clean_start--li_ul_li--padding, 0 0 0 0);
  display:         var(--clean_start--li_ul_li--display, block);
  margin:          var(--clean_start--li_ul_li--margin, 0 0 0 0);

  line-height:     var(--clean_start--li_ul_li--line-height, 1.2rem);
  font-size:       var(--clean_start--li_ul_li--font-size, 0.9rem);

  min-height:      var(--clean_start--li_ul_li--min-height, 0);
  max-height:      var(--clean_start--li_ul_li--max-height, unset);
  height:          var(--clean_start--li_ul_li--height, auto);

  overflow-x:      var(--clean_start--li_ul_li--overflow-x, visible);
  overflow-y:      var(--clean_start--li_ul_li--overflow-y, visible);
}

.clean_start ul {
  list-style-type:     none;
}



.clean_start ul li::after {
  position:      var(--clean_start--ul_li_c--position, absolute);
  display:       var(--clean_start--ul_li_c--display, block);

  top:           var(--clean_start--ul_li_c--top, 0);
  left:          var(--clean_start--ul_li_c--left, 0);

  line-height:   var(--clean_start--ul_li_c--line-height, 1.2rem);
  font-size:     var(--clean_start--ul_li_c--font-size, 0.9rem);

  min-height:    var(--clean_start--ul_li_c--min-height, 0);
  max-height:    var(--clean_start--ul_li_c--max-height, 1.2rem);
  height:        var(--clean_start--ul_li_c--height, 1.2rem);

  color:         var(--clean_start--ul_li_c--color, black);
  background:    var(--clean_start--ul_li_c--background, #fdfdfd);
  border:        var(--clean_start--ul_li_c--border, 0 solid #ddd);

  overflow-x:    var(--clean_start--ul_li_c--overflow-x, hidden);
  overflow-y:    var(--clean_start--ul_li_c--overflow-y, hidden);
}



/* inline */
.clean_start ul.inline li {
  display:          inline-block;
}

.clean_start ul.inline li * {
  display:          inline-block;
}

/* @finish clean_start_tiny html tag ul_li */


