
/* @start clean_start_tiny html tag a */
/* Hyperlink html tag <a> (anchor) */
.clean_start a,
.clean_start a:active,
.clean_start a:visited {
  color:           var(--clean_start--anchor--color);
  text-decoration: none;
}

.clean_start a:hover,
.clean_start a:active:hover,
.clean_start a:visited:hover {
  color:           var(--clean_start--anchor_hover--color);
  text-decoration: underline;
}
/* @finish clean_start_tiny html tag a */


