
/* @start clean_start_tiny html tag p */
/* Paragraph html tag <p> */
.clean_start p {
  line-height:     var(--clean_start--p--line-height, 1.2rem);
  font-size:       var(--clean_start--p--font-size, 0.9rem);
  margin:          var(--clean_start--p--margin, 0 0 0 0);
}

.clean_start p:first-of-type {
  margin:          var(--clean_start--p_first--margin, 0 0 0 0);
}

.clean_start p *,
.clean_start layout-block p * {
  padding:         var(--clean_start--p_tags--padding, 0 0 0 0);
  margin:          var(--clean_start--p_tags--margin, 0 0 0 0);

  font-size:       var(--clean_start--p_tags--font-size, 0.9rem);
  line-height:     var(--clean_start--p_tags--line-height, 0.9rem);

  min-height:      var(--clean_start--p_tags--min-height, 0);
  max-height:      var(--clean_start--p_tags--max-height, 0.9rem);
  height:          var(--clean_start--p_tags--height, 0.9rem);

  overflow-x:      var(--clean_start--p_tags--overflow-x, visible);
  overflow-y:      var(--clean_start--p_tags--overflow-y, hidden);
}
/* @finish clean_start_tiny html tag p */


