
  /* Clean Start overrides */

    .clean_start.font_overrides.font_sans,
     .clean_start.font_overrides  .font_sans,
     .clean_start  .font_overrides.font_sans,
     .clean_start  .font_overrides  .font_sans,
     .clean_start  .font_overrides.font_sans * {
      font-family: var(--clean_start--sans--font-family);
    }

    .clean_start.font_overrides.font_serif,
     .clean_start.font_overrides  .font_serif,
     .clean_start  .font_overrides.font_serif,
     .clean_start  .font_overrides  .font_serif,
     .clean_start  .font_overrides.font_serif * {
      font-family: var(--clean_start--serif--font-family);
    }

    .clean_start.font_overrides.font_monospace,
     .clean_start.font_overrides  .font_monospace,
     .clean_start  .font_overrides.font_monospace,
     .clean_start  .font_overrides  .font_monospace,
     .clean_start  .font_overrides.font_monospace * {
      font-family: var(--clean_start--monospace--font-family);
    }

    .clean_start.font_overrides.font_handwrite,
     .clean_start.font_overrides  .font_handwrite,
     .clean_start  .font_overrides.font_handwrite,
     .clean_start  .font_overrides  .font_handwrite,
     .clean_start  .font_overrides.font_handwrite *  {
      font-family: var(--clean_start--handwrite--font-family);
    }

