
$relative_base_url: "./";
$aliased_base_url: "@JscImages_mini_mimetypes_base_MediaAndStyles/";
$relative_path: "images/";

$mini-image-mimetype--folder--url--relative: "Folder.png";
// $mini-image-mimetype--text--url--relative: "Green2Css.png";
// $mini-image-mimetype--text--url--relative: "Green2Css3.png";
$mini-image-mimetype--audio_and_video--url--relative: "audio_and_video_mime_type.png";
$mini-image-mimetype--html--url--relative: "html_mime_type.png";
$mini-image-mimetype--image--url--relative: "image_mime_type.png";
$mini-image-mimetype--javascript--url--relative: "javascript_mime_type.png";
// $mini-image-mimetype--text--url--relative: "mimeWithSticker_103.png";
// $mini-image-mimetype--text--url--relative: "mimeWithSticker_212.png";
$mini-image-mimetype--base--url--relative: "mime_type_base.png";
$mini-image-mimetype--php--url--relative: "php_mime_type.png";
$mini-image-mimetype--text--url--relative: "text_mime_type.png";
